.modal-dialog {
    margin: auto; 
    display: flex;
    align-items: center;
    justify-content: center; 
}


.modal-content {
    background-color: rgba(204, 204, 204, 0.8);
    backdrop-filter: blur(10px); 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

body.modal-open .modal-backdrop {
    backdrop-filter: blur(10px);
}

.modal-header {
    border-bottom:none
}

.modal-footer {
    border-top: none;
}