<div id="loader-wrapper">
    <div class="full-screen-loader"></div>
    <div class="full-screen-loader"></div>
    <div class="full-screen-loader main-loader">
        <div class="loader-img-container">
            <img class="loader-img" src="~/img/logo.png">
        </div>
    </div>
</div>
<div id="wrapper">
</div>